<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=., initial-scale=1.0">
    <title>GameOver</title>
    <link rel="stylesheet" href="/end.css">
</head>
<body>
    <div id="headTop">
        <h1>Your score is <%= score %></h1>
    </div>
</body>
</html>